header{
    background: linear-gradient(90deg, #8B0000, #b94040);  
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
body{
    background-color: #141414;
}
#logo{
    width: 90px;   
     margin-left: 720px;
}
#Nome{
    color:#141414;
    font-size: 40px;
}
#Nome:hover{
  transform: scale(1.02);
  transition: 0.3s;
  color: #ffffff;
}
#login{
  color: aliceblue;
    text-decoration: none;
    cursor: pointer;
    font-size: 35px;
     position: absolute;
  top: 33px;
  left: 1500px;
}
#login:hover{
   transform: scale(1.02);
  transition: 0.3s;
  color: #141414;
}
#filmes{
  color: aliceblue;
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
     position: absolute;
  top: 50px;
  left: 650px;
}
#filmes:hover{
  transform: scale(1.02);
  transition: 0.3s;
  color: #141414;
}
#cartaz{
  color: aliceblue;
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
     position: absolute;
  top: 50px;
  left: 400px;
}

#cartaz:hover{
   transform: scale(1.02);
  transition: 0.3s;
  color: #141414;
}
#inicio{
  color: aliceblue;
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
     position: absolute;
  top: 50px;
  left: 754px;
}
#inicio:hover{
   transform: scale(1.02);
  transition: 0.3s;
  color: #141414;
}
.search{
  align-items: center;
  border: none;
  display: flex;
  width: 300px;
  color: aliceblue;
  position: absolute;
  top: 60px;
  left: 30px;
}
.search:hover{
  transform: scale(1.02);
  transition: 0.3s;
  color:#141414;
}
#searchInput{
  border: none;
  background-color:aliceblue;
  width: 100%;
  outline: none;
}
.search label{
  height: 20px;
}
.card-conteiner{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;  
}